$black: #000000;
$white: #ffffff;

$white-gray: #f4f5f9;
$red-hover: #e74c3c;
$gray-light: #cbc6c0;
$color-line: #f1ebe7;

$advantages-line: #e6e7eb;
$advantages-border-gray: #e5e5e5;
$advantages-gray: #999999;

$gray: #6a6a6a;